<%- include("partials/header") %>
<%- include("partials/nav") %>
<div class="container mt-5">
    <h1 class="text-center"><%= fastFood.name%></h1>
    <div class="text-center" ><img style="max-width: 500px" src="<%= fastFood.logo%>" alt=""></div>
    <p><%= fastFood.description%></p>
</div>
<hr>
<%- include("partials/footer") %>